/* Les courses disponible */
.container {
    margin: 50px;
    padding: 10px; 
    color: #FFF;
    text-align: center;
    font-weight: 900;
}
.container .content {
    width: 100%;
    margin: 0 auto;
}
.container .courses {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #0F3D2E;
}
.container .maintitle {
    color: #DFBE4F;
}
.container .courses .date, .title, .inscription {

    margin-right: 50px;

}
.container .courses .inscription button {
    width: auto;
    padding: 10px;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #DFBE4F;
    border: 0;
}

.historique {
    margin: 50px;
    padding: 10px; 
    background-color: #0F3D2E;
    color: #FFF;
    text-align: center;
    font-weight: 900;
}
.historique .content {
    width: 100%;
    margin: 0 auto;
}
.historique .courses {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.historique .courses .date, .inscription {

    margin-right: 50px;

}
.content .courses .inscription button {
    width: auto;
    padding: 10px;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #DFBE4F;
    border: 0;
    transition: 0.2s box-shadow;
}
.content .courses .inscription button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #DFBE4F;
}

.historique .content .resultats button {
    width: auto;
    padding: 10px;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #DFBE4F;
    border: 0;
    transition: 0.2s box-shadow;
}
.historique .content .resultats button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #DFBE4F;
}

.footer {
    bottom: -1000px;
}

/* Boutons gestionnaire */
.btn-gestion {
    text-align: center;
}
.btn-gestion .btn-del, .btn-add {
    height: auto;
    width: auto;
    background-color: #DFBE4F;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
    border: 0;
    transition: 0.2s box-shadow;
}
.btn-gestion button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #DFBE4F;
}
.btn-add a {
    color: #000;
    text-decoration: none;
}