.container-edit {
    text-align: center;
}

.container-edit .title {
    color: #DFBE4F;
}
form {
    text-align: center;
    
}
form input {
    padding: 10px;
    font-size: 20px;
    border: 0;
    background-color: #0F3D2E;
    color: #FFF;
    cursor: pointer;
    margin: 10px;
}

form button {
    width: auto;
    padding: 10px;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #DFBE4F;
    border: 0;
    transition: 0.2s box-shadow;
    margin-top: 20px;
}
form button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #DFBE4F;
}