input {
    padding: 10px;
    border: 0;
    background-color: #0F3D2E;
    color: #FFF;
    font-size: 20px;
}
.input-nom {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #DFBE4F;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    border: 0;
    cursor: pointer;
    transition: .2s box-shadow;
}
button:hover {
    box-shadow: 0 0 10px #DFBE4F;
}
.container {
    margin: 0 auto;
}
.message {
    color: #DFBE4F;
    margin-top: 20px;
}